
    <div class="form-group">
        <label for="fname">First Name</label>
        <input type="text" [(ngModel)]="fnameValue" id="fname" class="form-control">
    </div>
    <div class="form-group">
        <label for="lname" >Last Name</label>
        <input type="text" [(ngModel)]="lnameValue" id="lname" class="form-control">
    </div>
    <div class="form-group">
        <label for="email">email</label>
        <input type="text" [(ngModel)]="emailValue" id="email" class="form-control">
    </div>
    <div class="form-group">
        <label for="Contact">Contact</label>
        <input type="text" [(ngModel)]="contactValue" id="Contact" class="form-control">
    </div>
    
    <div class="text-right">
        <button class="btn btn-primary" (click)="onAddStudent()">
            Add student
        </button>
    </div>
    




